$clr-orange: #ff7e35;
$clr-green: #2fd887;
$clr-blue: #3a9dcb;
$clr-purple: #a729f5;
$clr-red: #ee5454;
$clr-blue-100: #abc1e1;
$clr-base-100: #ffffff;
$clr-base-200: #f4f6fa;
$clr-base-700: #626c7f;
$clr-base-800: #3b4d66;
$clr-base-900: #313e51;

$ff: "Rubik", sans-serif;
