@use "sass:color";
@use "./reset" as *;
@use "./variables" as *;
@use "./mixins" as *;

:root {
  @include theme(light);
}

[data-theme="dark"] {
  @include theme(dark);
}

/*******************************
 * Base
 *******************************/

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: $ff;
  font-size: 1.125rem;
}

main {
  width: 100%;
}

.wrapper {
  padding: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  min-height: 6rem;
  margin-bottom: 3rem;
}

.app-title {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.6rem;
    border-radius: 0.8rem;
  }

  img[data-theme="html"] {
    // background: rgb($clr-orange, 0.1);
    background: color.adjust($clr-orange, $lightness: 38%);
  }

  img[data-theme="css"] {
    // background: rgb($clr-green, 0.1);
    background: color.adjust($clr-green, $lightness: 38%);
  }

  img[data-theme="javascript"] {
    // background: rgb($clr-blue, 0.1);
    background: color.adjust($clr-blue, $lightness: 38%);
  }

  img[data-theme="accessibility"] {
    // background: rgb($clr-purple, 0.1);
    background: color.adjust($clr-purple, $lightness: 38%);
  }

  h1 {
    font-weight: normal;
    font-size: 1.75rem;
  }
}

.app-container {
  // margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/*******************************
 * Quiz Selection
 *******************************/

.selection__title {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: normal;
}

.selection__title span {
  font-weight: 700;
}

.selection__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.selection__links-item {
  background: var(--base-100);
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  box-shadow: var(--shadow);
}

.selection__links-item:focus-within {
  border: 2px solid $clr-purple;
}

.selection__link-img {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.selection__link {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  padding: 1rem;
}

.selection__link:focus {
  outline-color: transparent;
  outline-width: 0;
  outline-style: none;
}

.selection__link::after {
  content: "";
  position: absolute;
  inset: 0;
  display: flex;
  z-index: 1;
}

/*******************************
 * Quiz
 *******************************/
.quiz-selection__heading {
  font-weight: 100;
  max-width: 18ch;
  line-height: 1.2;
  font-size: 4rem;

  span {
    font-weight: 700;
  }
}

.question__heading {
  font-size: 2.25rem;
  font-weight: 500;
}

.quiz-selection__description {
  margin-top: 1.5rem;
  font-style: italic;
  color: var(--text-faded);
}

.quiz__info {
  display: flex;
  flex-direction: column;
}

.quiz__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

fieldset {
  border: none;
  padding: 0;
}

.question__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.label__indicator,
.question__label-indicator,
.results__score-icon {
  border-radius: 8px;
  padding: 0.5rem;
  background: var(--base-200);
}

.selection__link-img[data-theme="html"],
.results__score-icon[data-theme="html"] {
  // background: rgb($clr-orange, 0.1);
  background: color.adjust($clr-orange, $lightness: 38%);
}

.selection__link-img[data-theme="css"],
.results__score-icon[data-theme="css"] {
  // background: rgb($clr-green, 0.1);
  background: color.adjust($clr-green, $lightness: 38%);
}

.selection__link-img[data-theme="javascript"],
.results__score-icon[data-theme="javascript"] {
  // background: rgb($clr-blue, 0.1);
  background: color.adjust($clr-blue, $lightness: 38%);
}

.selection__link-img[data-theme="accessibility"],
.results__score-icon[data-theme="accessibility"] {
  // background: rgb($clr-purple, 0.1);
  background: color.adjust($clr-purple, $lightness: 38%);
}

.quiz__radio {
  appearance: none;
}

.form-group {
  background: var(--base-100);
  border-radius: 0.8rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow);
  border: 2px solid transparent;
  position: relative;
}

input[type="radio"] {
  appearance: none;
  opacity: 0;
}

.quiz__label,
.question__label {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: 1.125rem;
  font-weight: 500;

  strong {
    background-color: var(--base-200);
    color: $clr-base-800;
    font-weight: 500;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
  }
}

.form-group:has(input[type="radio"]:focus) {
  border: 2px solid $clr-purple;

  .question__label-indicator {
    background: $clr-purple;
    color: $clr-base-100;
  }
}

.form-group:has(input:not(:checked):not(:disabled)):hover
  .question__label-indicator {
  background: color.adjust($clr-purple, $lightness: 30%);
}

.question__submit {
  margin-top: 2rem;
  font-weight: 700;
  display: flex;
  border-color: transparent;
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  justify-content: center;
  background: $clr-purple;
  color: $clr-base-100;
  transition: background 0.2s;

  &:hover {
    background: color.adjust($clr-purple, $lightness: 20%);
  }
}

.error {
  margin-top: 1rem;
  color: $clr-red;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: url("/assets/images/icon-error.svg");
    height: 2.5rem;
    height: 2.5rem;
  }
}

form:has(input[type="radio"]:checked) .error {
  opacity: 0;
}

.question__list:has(.incorrect) {
  .correct {
    border-color: transparent;

    .question__label-indicator {
      background: var(--base-200);
      color: var(--base-800);
    }
  }
}

.correct {
  border: 2px solid $clr-green;

  .question__label-indicator {
    background: $clr-green;
    color: $clr-base-100;
  }
}

.incorrect {
  border: 2px solid $clr-red;

  .question__label-indicator {
    background: $clr-red;
    color: $clr-base-100;
  }
}

/*******************************
 * Results
 *******************************/
.results__column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.results__score {
  background: var(--base-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 0.8rem;
}

.results__score-title {
  font-size: 1.125rem;
}
.results__theme {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.results__score-text {
  font-size: 5.5rem;
  font-weight: 700;
}

.results__score-info {
  color: var(--text-faded);
}

.results__restart {
  background: $clr-purple;
  border: transparent;
  color: white;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: color.adjust($clr-purple, $lightness: 20%);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*******************************
 * Components
 *******************************/

.quiz__progress-text {
  font-style: italic;
  color: var(--text-faded);
}

/**
 * Progress Bar
 */

progress[value] {
  --background: var(--base-100);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-bar {
  border-radius: 10em;
  background: var(--background);
}
progress[value]::-webkit-progress-value {
  border-radius: 10em;
  background: $clr-purple;
}
progress[value]::-moz-progress-bar {
  border-radius: 10em;
  background: $clr-purple;
}

.question__progress {
  margin-top: 2.5rem;
  width: 100%;
}

.theme-toggle {
  display: flex;
  align-items: center;
  background: var(--base-100);
  padding: 5px;
  border-radius: 25px;
  width: 11rem;
  justify-content: space-between;
  box-shadow: var(--shadow);
}

.theme-toggle input[type="radio"] {
  appearance: none;
}

.theme-toggle label {
  flex: 1;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 25px;
  transition: background-color 0.3s;
}

.theme-toggle input[type="radio"]:checked + label {
  background-color: #2196f3;
  color: white;
  font-weight: 700;
}

@media screen and (min-width: 50rem) {
  .wrapper {
    max-width: 72.5rem;
    margin-inline: auto;
  }
  .app-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
  }

  .question__progress {
    margin-top: auto;
    margin-bottom: 6rem;
  }
}
